.wallpepers-image-card {
  height: 250px;
  min-width: 250px;
  overflow: hidden;
  cursor: pointer;
  transition: .3s;

  &:hover {
    .wallpepers-image-card__img {
      transform: scale(1.2);
    }
  }

    &__img {
      transform: scale(1.1);
      transition: 1s;
      width: 100%;
    }
}