.wallpepers-image-card {
  width: 25%;
  aspect-ratio: 1/1;
  overflow: hidden;
  cursor: pointer;
  transition: .3s;
  display: flex;
  align-items: center;
  justify-content: center;

    &__img {
      transition: 1s;
      width: 100%;
      object-fit: cover;
    }
}