.premiere-preview {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
  position: relative;
  background: #000;
}

.premiere {

  &__img {
    max-width: 100%;
    flex-shrink: 0;
    background-color: hwb(274 8% 20% / 0.5);
    opacity: 0.6;

     &--poster {
      transform: translateX(35%);
      position: relative;
     }
  }

  &__cover {
    position: absolute;
    background: linear-gradient(90deg,#000 6.25%,#000 6.26%,rgba(0,0,0,.99) 14.15%,rgba(0,0,0,.961) 20.77%,rgba(0,0,0,.915) 26.27%,rgba(0,0,0,.856) 30.8%,rgba(0,0,0,.785) 34.5%,rgba(0,0,0,.705) 37.54%,rgba(0,0,0,.619) 40.06%,rgba(0,0,0,.529) 42.21%,rgba(0,0,0,.437) 44.15%,rgba(0,0,0,.347) 46.03%,rgba(0,0,0,.261) 47.99%,rgba(0,0,0,.18) 50.2%,rgba(0,0,0,.108) 52.79%,rgba(0,0,0,.047) 55.94%,transparent 59.77%);
    left: 30%;
    height: 100%;
    width: 75%;
  }

  &__name {
    position: absolute;
    z-index: 2;
    color: #FFF;
    top: 60px;
    left: 20px;
    font-size: 2rem;
  }

  &__text {
    position: absolute;
    z-index: 2;
    color: #FFF;
    width: 60%;
    left: 20px;
  }

  &__button {
    position: absolute;
    z-index: 2;
    left: 80px;
    bottom: 60px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 600;
    width: 180px;
    height: 60px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 50px;
    text-align: center;
    line-height: 54px;
    font-size: 1.2rem;
    transition: 0.3s;

    &:hover {
      width: 184px;
      height: 64px;
      left: 78px;
      bottom: 58px;
    }
  }
}



