.review-form {

  &__wrapper {
    border: 1.2px solid rgba(0,0,0,.1);
    border-radius: 6px;
    padding-bottom: 20px;
  }

  &__title {
    font-size: 24px;
    font-weight: 600;
    color: #1f1f1f;
    margin-bottom: 24px;
  }

  &__header {
    display: flex;
    align-items: center;
    padding: 16px 24px;
    gap: 20px;
    border-bottom: 1px solid rgba(31,31,31,.07);

    &_img {
      width: 40px;
    }

    &_name {
      font-size: 16px;
      font-weight: 700;
      color: #060077;
    }
  }

  &__body {
    padding: 19px 24px 0;
    gap: 10px;
  }

  &__keyword_title,
  &__select {
    position: relative;
    display: block;
    box-sizing: border-box;
    height: 44px;
    margin-bottom: 15px;
    border-radius: 8px;
  }

  &__text-input,
  &__textarea,
  &__select-input {
    width: 100%;
  }

  &__text-input {
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 8px 0 8px 16px;
    font-family: "Kinopoisk-light" , Arial, sans-serif;
    font-size: 15px;
    border: none;
    outline: none;
    background: #fff;

    &:focus::-webkit-input-placeholder {
      color: transparent;
    }
    
    &:focus::-moz-placeholder {
      color: transparent;
    }
  
    &:focus:-ms-input-placeholder {
      color: transparent;
    }
  }

  &__select-input {
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 8px 16px 8px 16px;
    font-family: "Kinopoisk-light" , Arial, sans-serif;
    font-size: 15px;
    border: none;
    outline: none;
    background: #fff;
    -webkit-appearance: none;
            appearance: none;
    color: rgba(0, 0, 0, 0.6);
  }

  &__textarea {
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
    padding: 8px 16px 8px 16px;
    font-family: "Kinopoisk-light" , Arial, sans-serif;
    font-size: 15px;
    border: none;
    outline: none;
    background: #fff;
    -webkit-appearance: none;
            appearance: none;
    color: rgba(0, 0, 0, 0.6);
    resize: none;
  }

  &__button {
    display: flex;
    padding: 13px 16px 13px 20px;
    margin: 0 auto;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.2;
    cursor: pointer;
    color: #fff;
    border-radius: 25px;
    border: 2px solid #f4f4f4;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);

    &:hover {
      border: 2px solid #F9804B;
    }
  }

  &__message {
    // height: 15px;
    font-size: 13px;
    color: red;
  }
}