.login {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  &__button {
    transition: .3s;
    height: 100%;
    
    &:hover {
      color: #fff;
    }
  }
  
}