.login {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  &__button {
    transition: .3s;
    user-select: none;
    cursor: pointer;
    color: inherit;
    
    &:hover {
      color: #fff;
    }
  }
  
}