.video-player {
  width: 98%;
  max-width: 700px;
  margin: 0 auto;
  min-width: 250px;
  position: relative;

    &--active {
      width: 100%;
      max-width: initial;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    &__player {
      position: relative;
      display: flex;

      &--active {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }

    &__cover-container {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 0;
      left: 0;
      transition: 1s;
      opacity: 1;
      overflow: hidden;
    }

    &__cover-image {
      width: 100%;
      transform: scale(1.1);

        &--active {
          display: none;
        }

        &--poster {
          transform: translateX(35%);
        }
    }

    &__cover {
      position: absolute;
      background: linear-gradient(90deg,#000 6.25%,#000 6.26%,rgba(0,0,0,.99) 14.15%,rgba(0,0,0,.961) 20.77%,rgba(0,0,0,.915) 26.27%,rgba(0,0,0,.856) 30.8%,rgba(0,0,0,.785) 34.5%,rgba(0,0,0,.705) 37.54%,rgba(0,0,0,.619) 40.06%,rgba(0,0,0,.529) 42.21%,rgba(0,0,0,.437) 44.15%,rgba(0,0,0,.347) 46.03%,rgba(0,0,0,.261) 47.99%,rgba(0,0,0,.18) 50.2%,rgba(0,0,0,.108) 52.79%,rgba(0,0,0,.047) 55.94%,transparent 59.77%);
      left: 30%;
      height: 100%;
      width: 75%;

      &--active {
        display: none;
      }
    }

    &__black-cover {
      position: absolute;
      width: 100%;
      height: 100%;
      background: #000;

      &--active {
        display: none;
      }
    }

    &__play {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: opacity .5s;
      opacity: 1;

      &--active {
        pointer-events: none;
        opacity: 0;
      }

      &:hover {
        opacity: .85;
      }
    }

    &__pause {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: none;
      transition: 1s;

        &--active {
          display: block;
          opacity: 0;
        }

        &:hover {
          opacity: 1;
        }
    }
} 

#premiere-page-player {
  aspect-ratio: 16/9;
  width: 100%;
  height: 100%;
}