.header {
  min-height: 70px;
  display: flex;
  align-items: center;
  background: #141414;
  color: rgba(255,255,255,.6);

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__buttons {
    width: 50%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
