.wallpepers-modal-image {
  position: fixed;
  width: 500px;
  transform: translate3d(250%, 130%,0) scale(1);
  // transform-origin: 50% 50%;
  backface-visibility: hidden;
  // transition: transform .7s, opacity .7s;

    &__pic {
      object-fit: cover;
      width: 100%;
    }
}
