@font-face {
	font-family: 'Kinopoisk';
	src: url('./../assets/fonts/GraphikKinopoiskLC-Regular-Web.woff2');
	src: url('./../assets/fonts/GraphikKinopoiskLC-Regular-Web.woff2') format('woff2');
			 font-weight: 400;
			 font-style: normal; 
}

@font-face {
	font-family: 'Kinopoisk-bold';
	src: url('./../assets/fonts/GraphikKinopoiskLC-Bold-Web.woff2');
	src: url('./../assets/fonts/GraphikKinopoiskLC-Bold-Web.woff2') format('woff2');
			 font-weight: 600;
			 font-style: normal; 
}

@font-face {
	font-family: 'Kinopoisk-light';
	src: url('./../assets/fonts/GraphikKinopoiskLC-Light-Web.woff2');
	src: url('./../assets/fonts/GraphikKinopoiskLC-Light-Web.woff2') format('woff2');
			 font-weight: 300;
			 font-style: normal; 
}

@font-face {
	font-family: 'Kinopoisk-medium';
	src: url('./../assets/fonts/GraphikKinopoiskLC-Medium-Web.woff2');
	src: url('./../assets/fonts/GraphikKinopoiskLC-Medium-Web.woff2') format('woff2');
			 font-weight: 500;
			 font-style: normal; 
}

	@mixin font-bold() {
		font-family: "Kinopoisk-bold" , Arial, sans-serif;
    font-size: 36px;
	}

	
	@mixin font-regular() {
		font-family: "Kinopoisk" , Arial, sans-serif;
    font-size: 16px;
	}

  @mixin font-light() {
		font-family: "Kinopoisk-light" , Arial, sans-serif;
    font-size: 14px;
	}

  @mixin font-medium() {
		font-family: "Kinopoisk-medium" , Arial, sans-serif;
    font-size: 18px;
	} 