.auth-form {
  display: flex;
  flex-direction: column;
  gap: 8px;

    &__row {
      display: flex;
      flex-direction: column;
      height: 80px;
    }

    &__input {
      width: 100%;
      height: 54px;
      border: 1px solid #d8dce6;
      border-radius: 8px;
      padding: 10px 20px;
      outline: none;

        &:focus {
          outline: 2px solid #f50;
        }

        &:focus::-webkit-input-placeholder {
          color: transparent;
        }
        
        &:focus::-moz-placeholder {
          color: transparent;
        }
      
        &:focus:-ms-input-placeholder {
          color: transparent;
        }
    }

    &__message {
      width: 100%;
      margin-top: 5px;
      font-size: 14px;
      color: green;

        &--invalid {
          color: red;
        }
    }

    &__submit {
      height: 54px;
      border-radius: 8px;
      width: 100%;
      background: #f50;
      color: #fff;
      font-family: "Kinopoisk-medium" , Arial, sans-serif;
      margin-top: 10px;
    }
}