.suggest-card {
  width: 100%;
  height: 70px;

  &:hover{ 
    background-color: rgb(247, 247, 247);
  }

  &__container {
    padding: 5px 20px;
    display: flex;
    align-items: center;
  }

  &__image {
    width: 32px;
  }

  &__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    gap: 5px;
  }

  &__title {
    font-family: "Kinopoisk-medium" , Arial, sans-serif;
    font-size: 15px;
    color: #000;
    margin: 0;
  }

  &__rating {
    color: #777;
    font-size: 13px;
    font-family: "Kinopoisk-bold" , Arial, sans-serif;

    &--green {
      color: #3bb33b;;
    }
  }

  &__info {
    margin-left: 10px;
    font-size: 12px;
  }
}